@page "/"
@inject Data.ITopicService TopicService;
@inject Data.IEmailService EmailService;

<PageTitle>Home</PageTitle>

<h3>Summary</h3>

<div class="d-flex flex-wrap justify-content-around mt-5">
    <Card Header="Emails" Value=emails />
    <Card Header="Topics" Value=topics />
    <Card Header="Sent articles" Value="220" />
    <Card Header="Scheduled articles" Value="220" />
</div>

@code
{
    int topics;
    int emails;

    protected override async Task OnInitializedAsync()
    {
        try
            {
                topics = await @TopicService.GetCountTopicsAsync();
                emails = await @EmailService.GetCountEmailsAsync();           
            }
            catch (Exception ex)
            {
                //TODO
                throw new Exception();
            }
    }
}