<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EmailNewsletter</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emails">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Emails
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="topics">
                <span class="oi oi-list" aria-hidden="true"></span> Topics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="management">
                <span class="oi oi-cog" aria-hidden="true"></span> Management
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


@*atrybut Match - określa, że ten odnośnik jest aktywny, gdy pasuje do aktualnej ścieżki nawigacyjnej. 
NavLinkMatch.All oznacza, że ten odnośnik będzie aktywny tylko wtedy, gdy ścieżka nawigacyjna jest dokładnie taka sama, jak wartość href odnośnika.*@
